@import url("https://fonts.googleapis.com/css2?family=Braah+One&family=Oldenburg&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Table paddings */
  td,
  th {
    @apply py-[10px];
  }

  /* footer section design */
  footer li {
    @apply opacity-40 hover:opacity-100 duration-300;
  }
}

/*CSS to remove the default number input arrows*/
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom loader design */
.custom-loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #766df4) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 4.5px),
      #000 calc(100% - 4px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}
